@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");


.main-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    background-color: blanchedalmond;
    margin-bottom: 100px;
}

/* heading */
.main-upload span:nth-of-type(1) {
    color: var(--black);
    font-size: 2rem;
    font-weight: bold;
}

.main-upload span:nth-of-type(2) {
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
}

.box-upload {
    background-color: var(--box-bg);
    padding: 30px;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.box-upload button {
    font-size: 25px;
    height: auto;
    width: auto;
    margin-top: 50px;
}

.main-upload {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: var(--txt-color);
    display: flex;
    justify-content: center;
    padding-top: 70px;
    height: auto;
    padding-bottom: 50px;
}